@model IEnumerable<TaskTracker.Models.TimerTagViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tag
        </th>
        <th>
            Start Timestamp
        </th>
        <th>
            End Timestamp
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start_timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end_timestamp)
        </td>
    </tr>
}

</table>
