@model IEnumerable<TaskTracker.Models.SummaryViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Summary</h2>

<table class="table">
    <tr>
        <th>
            Tag
        </th>
        <th>
            SecDiff
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecDiff)
        </td>
    </tr>
}

</table>
