
@{
    ViewBag.Title = "Journal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Journal</h2>

<h4>10/29/2017 12:14:00 AM</h4>
<p>
    C# lambda expressions are weird.  Practice more.  Create a partial view of the top 5 recent timer items in the HomeController Index view.  Create more interactivity between start/stop timer buttons.  
    Tag cloud functionality with drag and drop attributes?  I don't even know how that would work... for each tag attribute associated, commit new record to timer.  
    Expand tag functionality to have project/task/skill?
</p>

<h4>10/29/2017 06:38:00 PM</h4>
<p>
    Learned how to send a parent object with multiple sub objects to get two objects to send to a view.  Sending top 5 recent timers as well as the tag list.  
    This expands the options I have with objects quite a bit.
</p>
